@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);

	--tracking-tighter: calc(var(--tracking-normal) - 0.05em);
	--tracking-tight: calc(var(--tracking-normal) - 0.025em);
	--tracking-normal: var(--tracking-normal);
	--tracking-wide: calc(var(--tracking-normal) + 0.025em);
	--tracking-wider: calc(var(--tracking-normal) + 0.05em);
	--tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

:root {
	--background: hsl(0 0% 100%);
	--foreground: hsl(220.9091 39.2857% 10.9804%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(220.9091 39.2857% 10.9804%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(220.9091 39.2857% 10.9804%);
	--primary: hsl(21.745 65.6388% 55.4902%);
	--primary-foreground: hsl(0 0% 100%);
	--secondary: hsl(180 17.5879% 39.0196%);
	--secondary-foreground: hsl(0 0% 100%);
	--muted: hsl(220 14.2857% 95.8824%);
	--muted-foreground: hsl(220 8.9362% 46.0784%);
	--accent: hsl(0 0% 93.3333%);
	--accent-foreground: hsl(220.9091 39.2857% 10.9804%);
	--destructive: hsl(0 84.2365% 60.1961%);
	--destructive-foreground: hsl(0 0% 98.0392%);
	--border: hsl(220 13.0435% 90.9804%);
	--input: hsl(220 13.0435% 90.9804%);
	--ring: hsl(21.745 65.6388% 55.4902%);
	--chart-1: hsl(180 17.3913% 45.0980%);
	--chart-2: hsl(22.2973 75.5102% 61.5686%);
	--chart-3: hsl(31.2 92.5926% 78.8235%);
	--chart-4: hsl(0 0% 53.3333%);
	--chart-5: hsl(0 0% 60%);
	--sidebar: hsl(220 14.2857% 95.8824%);
	--sidebar-foreground: hsl(220.9091 39.2857% 10.9804%);
	--sidebar-primary: hsl(21.745 65.6388% 55.4902%);
	--sidebar-primary-foreground: hsl(0 0% 100%);
	--sidebar-accent: hsl(0 0% 100%);
	--sidebar-accent-foreground: hsl(220.9091 39.2857% 10.9804%);
	--sidebar-border: hsl(220 13.0435% 90.9804%);
	--sidebar-ring: hsl(21.745 65.6388% 55.4902%);
	--font-sans: Geist Mono, ui-monospace, monospace;
	--font-serif: serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 1px;
	--shadow-blur: 4px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.05;
	--shadow-color: #000000;
	--shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
	--tracking-normal: 0rem;
	--spacing: 0.25rem;
}

.dark {
	--background: hsl(270 5.5556% 7.0588%);
	--foreground: hsl(0 0% 75.6863%);
	--card: hsl(0 0% 7.0588%);
	--card-foreground: hsl(0 0% 75.6863%);
	--popover: hsl(270 5.5556% 7.0588%);
	--popover-foreground: hsl(0 0% 75.6863%);
	--primary: hsl(22.2973 75.5102% 61.5686%);
	--primary-foreground: hsl(270 5.5556% 7.0588%);
	--secondary: hsl(180 17.3913% 45.0980%);
	--secondary-foreground: hsl(270 5.5556% 7.0588%);
	--muted: hsl(0 0% 13.3333%);
	--muted-foreground: hsl(0 0% 53.3333%);
	--accent: hsl(0 0% 20%);
	--accent-foreground: hsl(0 0% 75.6863%);
	--destructive: hsl(180 17.3913% 45.0980%);
	--destructive-foreground: hsl(270 5.5556% 7.0588%);
	--border: hsl(0 0% 13.3333%);
	--input: hsl(0 0% 13.3333%);
	--ring: hsl(22.2973 75.5102% 61.5686%);
	--chart-1: hsl(180 17.3913% 45.0980%);
	--chart-2: hsl(22.2973 75.5102% 61.5686%);
	--chart-3: hsl(31.2 92.5926% 78.8235%);
	--chart-4: hsl(0 0% 53.3333%);
	--chart-5: hsl(0 0% 60%);
	--sidebar: hsl(0 0% 7.0588%);
	--sidebar-foreground: hsl(0 0% 75.6863%);
	--sidebar-primary: hsl(22.2973 75.5102% 61.5686%);
	--sidebar-primary-foreground: hsl(270 5.5556% 7.0588%);
	--sidebar-accent: hsl(0 0% 20%);
	--sidebar-accent-foreground: hsl(0 0% 75.6863%);
	--sidebar-border: hsl(0 0% 13.3333%);
	--sidebar-ring: hsl(22.2973 75.5102% 61.5686%);
	--font-sans: Geist Mono, ui-monospace, monospace;
	--font-serif: serif;
	--font-mono: JetBrains Mono, monospace;
	--radius: 0.75rem;
	--shadow-x: 0px;
	--shadow-y: 1px;
	--shadow-blur: 4px;
	--shadow-spread: 0px;
	--shadow-opacity: 0.05;
	--shadow-color: #000000;
	--shadow-2xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-xs: 0px 1px 4px 0px hsl(0 0% 0% / 0.03);
	--shadow-sm: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
	--shadow-md: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
	--shadow-lg: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
	--shadow-xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
	--shadow-2xl: 0px 1px 4px 0px hsl(0 0% 0% / 0.13);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		letter-spacing: var(--tracking-normal);
		@apply bg-background text-foreground;
	}
}
